body {
    margin: 0 auto;
    max-width: 1100px;
    line-height: 1.7em;
    font-family: 'DINlight', arial;
    -webkit-backface-visibility: hidden; /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    background: #f9f9f9 /* original design background image url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/arkivum_bg.jpg) */;
}

::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(222,222,222,1) url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/brushed_alu.png);}
::-webkit-scrollbar{width:17px;background:rgba(222,222,222,1) url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/brushed_alu.png);}
::-webkit-scrollbar-thumb{background:#fafafa url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/brushed_alu_dark.png);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);}

a{
    color:rgba(63, 128, 172, 0.9);
}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 0;
    text-align: center;
}
    .header .pure-menu {
        z-index: 0;
        color: #fff;
        height: 93px;
        padding: 0.5em;
        text-align: center;
        font-family: 'DINmedium', arial;
        box-shadow: rgb(255, 255, 255) 0px 21px;
        background: #00a9c9 url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/arkivum-header_bg.png) repeat-x;
    }
    .header .logo-block{
        display: block;
        text-align: center;
        margin: -18px auto 0 auto;
        width: 309px;
        height: 69px;
        padding: 0 0 0 53px;
    }
    .header .slogan{
        float: left;
        margin: -7px 0 0 -114px;
        width: 177%;
        padding: 0 0 0 30%;
    }
    .header .pure-menu-heading{
        padding: 0;
        color:#fff;
        font-size: 97%; 
        text-transform: none;
        margin: -10px 0 0 -16px;
        clear: both;
        text-align: left;
    }
    .header h1{
        color: #fff;
        font-family: 'DINmedium', arial;
        padding: 0;
        margin: 24px 0 0 0;
        font-size: 308%;
    }
    .header .pure-menu li a:hover,
    .header .pure-menu li a:focus {
        background: none;
        border: none;
        color: #aaa;
    }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    color: #464646;
    margin: 2em auto 0;
    padding: 3em 0.5em;
    font-family: "DINlight";
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        font-size: 234%;
        font-weight: 300;
        line-height: 1.4em;
        text-align: center;
    }

.sidebar{
    margin:40px 0 0 0;
}
    .sidebar .pure-g-r{
        position: absolute;
    }
    .sidebar-menu{
        z-index: 1;
        margin:82px 0 0 0;
        position: absolute;
        list-style: none;
    }
    .sidebar-menu a{
        font-weight: bold;
        text-decoration: none;
        color: rgba(0, 43, 71, 0.9);
    }
    .sidebar .box {
        width: 249px;
        height: 777px;
        margin: 0 9px;
        position: absolute;
        display: inline-block;
        top: 0.4444444444444444em;
        border-top: 3px solid #8BA1A3;
        background: #e5e5e5 url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/rockywall.png);
    }
        .sidebar-left .box{
            border-top: 3px solid #8BA1A3;
            border-right: 3px solid #D4D7D8;
            border-left: 3px solid #7F9294;
        }
        .sidebar-right .box{
            border-top: 3px solid #8BA1A3;
            border-right: 3px solid #7F9294;
            border-left: 3px solid #D4D7D8;
        }
        .sidebar .trim {
            width: 209px;
            height: 44px;
            border-bottom: 0;
            margin: -24px 0 0 18px;
            position: absolute;
            display: inline-block;
            background: #e5e5e5 url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/rockywall.png);
        }
        .sidebar-left .trim{
            border-top: 3px solid #8BA1A3;
            border-right: 3px solid #cacaca;
            border-left: 3px solid #9EB1B3;
        }
        .sidebar-right .trim{
            border-top: 3px solid #8BA1A3;
            border-right: 3px solid #9EB1B3;
            border-left: 3px solid #cacaca;
        }
        .sidebar .circle {
            top: -76px;
            left: 69px;
            width: 111px;
            height: 111px;
            line-height: 0;
            position: absolute;
            border-radius: 64px;
            display: inline-block;
            background-color: #e5e5e5;
        }
            .sidebar-left .circle{
                background-image: url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/linen.png);
            }
            .sidebar-right .circle{
                background-image: url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/worn_dots.png);
            }
        .circ{
            width: 111px;
            height: 111px;
        }

.content{
    background: #fff;
    margin:53px 0 0 0;
}
    .content .content-subhead {
        color: #999;
        padding-bottom: 0.3em;
        text-transform: uppercase;
        margin: 0;
        border-bottom: 2px solid #eee;
        display: inline-block;
    }

    .content .content-ribbon {
        margin: 3em;
        border-bottom: 1px solid #eee;
    }

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    padding: 1em;
    height: 77px;
    color: #b6c6cc;
    font-size: 80%;
    text-align: center;
    background: #333 url(https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/arkivum-footer_bg.png) repeat-x;
}

@font-face {
    font-family: DINmedium;
    src: url(https://googledrive.com/host/0B9LVk4xbDIJTcFpGeFR4OGFYcUk/DINPro-Medium.ttf);
    font-weight:400;
}
@font-face {
    font-family: DINlight;
    src: url(https://googledrive.com/host/0B9LVk4xbDIJTcFpGeFR4OGFYcUk/DINPro-Light.ttf);
    font-weight:400;
}
@font-face {
    font-family: DINbold;
    src: url(https://googledrive.com/host/0B9LVk4xbDIJTcFpGeFR4OGFYcUk/DINPro-Bold.ttf);
    font-weight:400;
}

.font-DINbold{
    font-family: "DINbold", arial; 
}
.font-DINlight{
    font-family: "DINlight", arial; 
}
.font-DINmedium{
    font-family: "DINmedium", arial; 
}

.opa-0{
    opacity: 0;
}

#SVGID_2_PATH{
    fill:#fff;
}
    #logo_svg{
        width: 93%;
        height: 93%;
        float: left;
        margin: 0 0 0 -15px;
    }
    #slash{
        float: left;
        width: 30px;
        height: 93%;
        margin: -82px 0 0 0;
    }
    #slash_path{
        fill:#fff;
    }

#confStamp{
    height: 111px;
    width: 111px;
    top: 0;
    position: absolute;
}
#confidentialStamp{
    height: 119%;
    width: 119%;
    margin: -11px 0 0 -13px;
    fill: #767C7C;
}

 #ISOcertStamp{
    height: 139%;
    width: 139%;
    margin: -26px 0 0 -20px;
    fill: #778383;
}
.fixed{
    position: fixed !important;
    top:61px !important;
    border-top: 0 !important;
    z-index: 2;
}
    .fixed-trim{
        margin: -24px 0 0 -11px !important;
        width:266px !important;
        height: 69px !important;
        position: fixed !important;
        top: 24px;
        z-index: 1;
    }
    .fixed-circ{
        position: fixed;
        margin-top: 26px;
        z-index: 3;
    }
    .sidebar-right .fixed-circ{
    }
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}
.animated{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
