body {
    margin: 0 auto;
    /* max-width: 1100px; */    
    background: #fafafa;
    line-height: 1.7em;
    overflow-x: hidden;
    font-family: 'DINlight', arial;
    /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden; 
}

::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(222,222,222,1) url(/images/brushed_alu.png);}
::-webkit-scrollbar{width:17px;background:rgba(222,222,222,1) url(/images/brushed_alu.png);}
::-webkit-scrollbar-thumb{background:#fafafa url(/images/arkivum-footer_bg.png);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);}

a{
    text-decoration: none;
    color:rgba(63, 128, 172, 0.9);
}
sub{
    position: static;
}
li{
    margin: 0;
    padding-left: 5px;
    font-size: 19px;
    list-style: url(/images/check-6-blue-icon.svg);
}

.l-box {
    padding: 1em;
}
.clear{clear: both;}
.sharethis{display: none;}

.header {
    margin: 0 0;
    text-align: center;
}
    .header .pure-menu {
        z-index: 0;
        color: #fff;
        height: 113px;
        padding: 0.5em;
        text-align: center;
        font-family: 'DINmedium', arial;
        background: #0095ce url(/images/_Brand-Toolbox_blue-bg.png ) no-repeat; /* https://googledrive.com/host/0B9LVk4xbDIJTdkdTRXhFMjE5V2s/arkivum-header_bg.png */ 
    }
    .header .logo-block{
        display: block;
        text-align: center;
        margin: -12px auto 0;
        width: 309px;
        height: 69px;
        padding: 0 0 0 53px;
    }
    .header .slogan{
        float: left;
        margin: -15px 0 0 -106px;
        width: 177%;
        padding: 0 0 0 30%;
        font-size: 183%;
        opacity: 0;
    }
    .daily-message span{
        padding: 7px;
        border-bottom: 1px solid #999; 
    }
    .daily-message{
        display: block;
        padding: 3px 13px;
        text-align: center;
        margin-bottom: 33px;
    }
    .header .pure-menu-heading{
        padding: 0;
        color:#fff;
        font-size: 97%; 
        text-transform: none;
        margin: -10px 0 0 -16px;
        clear: both;
        text-align: left;
    }
    .pure-menu.pure-menu-open.pure-menu-fixed{
        z-index: 1;
    }
    .header h1{
        color: #fff;
        font-family: 'DINmedium', arial;
        padding: 0;
        margin: 24px 0 0 0;
        font-size: 308%;
    }
    .header .pure-menu li a:hover,
    .header .pure-menu li a:focus {
        background: none;
        border: none;
        color: #aaa;
    }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    color: #464646;
    margin:0 auto;
    padding: 0 0.5em;
    font-family: "DINlight";
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        font-size: 234%;
        font-weight: 300;
        line-height: 1.4em;
        text-align: center;
    }
    .splash-list li{
        margin: 0;
        padding-left: 7px;
        font-size: 44px;
        list-style: url(/images/check-6-blue-icon.svg);
    }
    .splash-list span{
        vertical-align: middle;
        font-size: 19px;
    }

.sidebar{
    margin:0;
}
    .sidebar .pure-g-r{
        position: fixed;
        width: 25%;
    }
    .sidebar-menu{
        z-index: 1;
        margin:0;
        padding: 0;
        width: 100%;
        padding: 11px 0;
    }
    .sidebar-menu span{
        width: 100%;
        margin: 7px 0;
    }
    .sidebar-menu a{
        text-decoration: none;
        color: #334;
        width: 100%;
        margin: auto;
        display: block;
    }
        .sidebar-menu a:hover{
            font-weight: bold;
        }
    .sidebar-menu bdi{
        display: block;
        text-align: left;
        width: 147px;
        margin: 3px auto 0 auto;
        font-size: 16px;
    }
    .sidebar-menu .menu-icon{
        position: absolute;
        height: 37%;
        fill: #E6E6E6;
        left: 3px;
        width: 67px;
        margin: 14px 0px 0px -4px;
        stroke: #A6A7A8;
        stroke-width: 17px;
        opacity: 0.97;
    }
        .share-icon{
            fill: #334;
            background: #fff;
            width: 50px;
            height: 50px;
            margin: 45px auto 0 -12px /* -7px 0 0 -7px */ ;
            opacity: 0.777;
        }
            .share-icon:hover{
                opacity: 1;
            }
            .yt-icon:hover{
                fill: red;
            }
            .icon-share{
                cursor: pointer;
                height: 35px;
                width: 35px;
                opacity: 1;
                fill:#fff;
                padding: 3px;
                margin:0 auto 4px auto;
                background: rgba(51, 51, 68, 0.75);
            }
            .tw-icon:hover{
                fill: #00ACEE;
            }
            .ln-icon:hover{
                fill: #0274B3;
            }
        .share-icon-box{
            height: 26px;
            width: 26px;
            margin: 0 0 0 1%;
            padding: 0 10px;
            opacity: 0.777;
        }

        .share{
            height: 55px;
            width: 264px;
            display: block;
            list-style: none;
            margin: 3px auto 93px auto;
            padding: 4px 3px;
            text-align: center;
        }
        .phone-icon{
            fill:#334;
            opacity: 1;
            clear: both;
            width: 21px;
            height: 21px;
            padding: 4px;
            display: block;
            margin: 11px 0 0 7%;
        }
        .contact-us{
            padding: 0 0 0 13px;
            text-align: left;
            display: block;
        }
            .contact-us-copy{
                width: 77%;
                margin: auto auto auto 18px;
                display: block;
                text-align: center;
                border-bottom: 1px solid #999; 
            }
            .number-copy{
                margin: -27px 0 0 21%;
                display: block;
            }
            .number-line{
                display: block;
                margin: auto;
            }
    .sidebar .box {
        width: 100%;
        height: 100%;
        margin: auto;
        position: relative;
        display: inline-block;
        background: #fafafa;
    }
        .box-inner{
            display: block;
        }
    .height-100p{
        height: 100%;
    }
    .sidebar .arkivum-logo-stamp{
        text-align: center;
        width: 100%;
        height: 164px;
        display: block;
    }
    .sidebar #arkivumStamp{
        width:85px;
        margin: -68px 0 0 0;
        fill: #334;
    }
    /*
    #guaranteedStamp{
        width: 99%;
        height: 111px;
        margin: 33px auto 19px auto;
        text-align: center;
        fill: #334;
    }
    */
    .g-stamp{
        display: block;
        margin: 5% 0;
    }
        .g-stamp img{
            width: 111px;
        }
.content{
    background: #fff;
    margin:0;
}
    .content .content-subhead {
        color: #999;
        padding-bottom: 0.3em;
        text-transform: uppercase;
        margin: 0;
        border-bottom: 2px solid #eee;
        display: inline-block;
    }

    .content .content-ribbon {
        margin: 0 3em 3em 3em;
        border-bottom: 1px solid #eee;
    }
    .meta-content{
        /* large display css
        margin: 130px -14% 0 2% !important; */
    }
.page, .post{
    margin: 9% auto;
    padding: 0 4%;
}
.pdf{
    margin: 2px 25px 0 0;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    padding: 1em;
    height: 77px;
    color: #b6c6cc;
    font-size: 80%;
    text-align: center;
    background: #333 url(/images/arkivum-footer_bg.png) repeat-x;
}
    .footer a{
        color: #b6c6cc;
    }
/* Old font faces
@font-face {
    font-family: DINmedium;
    src: url(https://googledrive.com/host/0B9LVk4xbDIJTcFpGeFR4OGFYcUk/DINPro-Medium.ttf);
    font-weight:400;
}
@font-face {
    font-family: DINlight;
    src: url(https://googledrive.com/host/0B9LVk4xbDIJTcFpGeFR4OGFYcUk/DINPro-Light.ttf);
    font-weight:400;
}
@font-face {
    font-family: DINbold;
    src: url(https://googledrive.com/host/0B9LVk4xbDIJTcFpGeFR4OGFYcUk/DINPro-Bold.ttf);
    font-weight:400;
}
*/

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 14, 2013 */
@font-face {
    font-family: 'DINbold';
    src: url('/fonts/dinpro-bold-webfont.eot');
    src: url('/fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dinpro-bold-webfont.woff') format('woff'),
         url('/fonts/.ttf') format('truetype'),
         url('/fonts/dinpro-bold-webfont.svg#dinprobold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DINlight';
    src: url('/fonts/dinpro-light-webfont.eot');
    src: url('/fonts/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dinpro-light-webfont.woff') format('woff'),
         url('/fonts/dinpro-light-webfont.ttf') format('truetype'),
         url('/fonts/dinpro-light-webfont.svg#dinprolight') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DINmedium';
    src: url('/fonts/dinpro-medium-webfont.eot');
    src: url('/fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dinpro-medium-webfont.woff') format('woff'),
         url('/fonts//dinpro-medium-webfont.ttf') format('truetype'),
         url('/fonts/dinpro-medium-webfont.svg#dinpromedium') format('svg');
    font-weight: 400;
    font-style: normal;
}

.font-DINbold{
    font-family: "DINbold", arial; 
}
.font-DINlight{
    font-family: "DINlight", arial; 
}
.font-DINmedium{
    font-family: "DINmedium", arial; 
}

.opa-0{
    opacity: 0;
}
#icon{
    fill:#334;
    height: 13%;
    width: 13%;
    vertical-align: middle;
    margin: -10px 0 0 0;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.arial{
    font-family: arial;
}
.contact-header{
    text-align: left;
    margin:0 0 0 21%;
}

#SVGID_2_PATH{
    fill:#fff;
}
    #logo_svg{
        width: 263px;
        height: 99px;
        float: left;
        margin: 0 0 0 -11px;
    }
    #logo_svg path{
        fill:#fff;
    }
    /* slash animation retired
    #slash{
        float: left;
        width: 33px;
        height: 111px;
        margin: -133px 0 0 13px;
    }
    #slash_path{
        fill:#fff;
    }
    */
#confStamp{
    height: 111px;
    width: 111px;
    top: 0;
    position: absolute;
}
#confidentialStamp{
    height: 119%;
    width: 119%;
    margin: -11px 0 0 -13px;
    fill: #767C7C;
}
 #ISOcertStamp{
    height: 139%;
    width: 139%;
    margin: -26px 0 0 -20px;
    fill: #778383;
}
.fixed{
    position: fixed !important;
    top:61px !important;
    border-top: 0 !important;
    z-index: 2;
}
    .fixed-trim{
        margin: -24px 0 0 -11px !important;
        width:266px !important;
        height: 69px !important;
        position: fixed !important;
        top: 24px;
        z-index: 1;
    }
    .fixed-circ{
        position: fixed;
        margin-top: 26px;
        z-index: 3;
    }
    .sidebar-right .fixed-circ{
    }
    .sidebar-right-bg{
        background: url(/images/_Brand-Toolbox_blue-bg-right.png) -172px no-repeat;
        height: 127px;
        display: block;
        position: fixed;
        top: 0;
        width: 826px;
        float: right;
        right: -548px;
    }
    .nav li{
        position: relative;
        z-index: 1;
        list-style: none;
        font-size: 16px;
    }
        .nav .nav{
            margin: 0 0 0 23px;
            padding: 0;
            z-index: 0;
            display: none;
        }
        .nav .nav li{
            list-style: square;
        }
    /* large display css
    .sidebar-left{
        margin: 0 0 0 1%;
        width: 18%;
    } */
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}
.animated{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.youtube-embed{
    opacity: 0.81;
    display: block;
    text-align: center;
    height: 23%;
}
    .youtube-embed:hover{
        opacity: 1;
    }
#youtubeEmbed{
    margin:0;
}
.mobile-item{
    display: none;
}
.muted{
    opacity: 0.333;
}
blockquote{
    font-style: italic;
}
    .quoted{
        font-style: normal;
        font-weight: bold;
        float: right;
    }
.right{
    float: right;
}
.our-customers{
    margin: 0 13% 0;
}
.splash-link{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
#attrSel{
    position: fixed;
    display: none;
    width: 100%;
    margin: 0;
    padding: 3px 0;
}
.block{display: block;}
.blog li{
    list-style: circle;
}

a.anchor { /*position:relative; top:-130px; visibility:hidden;*/ margin-top:-130px; padding-bottom:130px; display:block; }

@media screen and (max-width: 960px){
    #attrSel{
        display: inline-block;
        margin: -26px 0 0 0;
        padding: 3px 0;
    }
    .sidebar{display: none;}
    .stage{width: 100% !important;}
    #logo_svg{
        height: 61% !important;
        width: 61% !important;
        margin: 0 0 0 -15px
    }
    .header .pure-menu{height: 77px;}
    .mobile-menu{
        margin: -38px 0 0 0;
        letter-spacing: 1px;
        position: relative;
        z-index: 2;
    }
    h1{font-size: 22px !important;}
    li{list-style: square !important;}
    .splash-list li{font-size: inherit;}
    .mobile-break{display: block;}
    .header .logo-block{margin: -73px auto 0 !important;}
    .mobile-item{display: block;}
    .share-icon-box{padding: 0 2%}
    .youtube-embed{height: 202px;width: 84%;}
    .iso-cert-img{width: 111px;}
}